<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185367964920-kda1aa1ddf0b43c6bvg1fqqo8eflrb5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185367964920-kda1aa1ddf0b43c6bvg1fqqo8eflrb5f</string>
	<key>API_KEY</key>
	<string>AIzaSyCbqrThTgK6BbwAZEdZmXoYXlsP6Y3MqhE</string>
	<key>GCM_SENDER_ID</key>
	<string>185367964920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.closet.stylist</string>
	<key>PROJECT_ID</key>
	<string>vetir-112233</string>
	<key>STORAGE_BUCKET</key>
	<string>vetir-112233.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185367964920:ios:d4bf19861684b03d795f0d</string>
</dict>
</plist>